
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: white;
    background-image: url("images/sixth.jpg");
    background-size: 1350px 750px;
    background-repeat: no-repeat;
  }
.about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  .place{
    position: absolute;
    top: 15px;
    left: 250px;
  }
  /* Header */
  
  header {
    background-color: white;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: black;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: white;
    border-bottom: 3px solid black;
    background-color: rgb(7, 164, 44);
  }
  /* Hero Section */
  
  .hero {
    
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
    color: white;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  
  /* About Section */
  
  .about {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
  }
  
  .about h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .learn-more-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-button:hover {
    background-color: #45a049;
  }
  
  /* Initiatives Section */
  
  .initiatives {
    background-color: #f3f3f3;
    padding: 80px 0;
    background-image: url("fifth.jpg");
    font-family: 'Times New Roman', Times, serif;
  }
  
  .initiatives h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .initiative {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .initiative img {
    width: 200px;
    margin-right: 20px;
  }
  
  .initiative h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .initiative p {
    font-size: 16px;
  }

  .exception{
    text-align: justify;
    padding: 10px;
    text-indent: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
  }

  
  .kk1{
    position: relative;
    left: 30px;
  }

  .kk2{
    position: relative;
    left: 20px;
  }

  .kk3{
    position: relative;
    left: 70px;
  }
  
  /* Products Section */
  
  .products {
    background-color: #fff;
    padding: 80px 0;
  }
  
  .products h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .product {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .product img {
    width: 200px;
    margin-right: 20px;
  }
  
  .product h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }


  .gif-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
  

 

  /* Language selector styles */
  .language-selector {
    display: flex;
    align-items: center;
    position: absolute;
    top: 22px;
    color: black;
    font-weight: bold;
    left: 1150px;
  }

  .language-option {
    margin-right: 10px;
    cursor: pointer;
  }

  .language-flag {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    object-fit: contain;
    vertical-align: middle;
  }