.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #333;
}

.place{
  position: absolute;
  top: 15px;
  left: 250px;
}
/* Header */

header {
  background-color: white;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: black;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: bold;
}
nav ul li a:hover{
  color: white;
  border-bottom: 3px solid black;
  background-color: rgb(7, 164, 44);
}

body {
    font-family: Arial, sans-serif;
  }
  .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eaf07a;
    border-radius: 10px;
  }
  .question {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .options {
    margin-bottom: 15px;
  }
  .option {
    display: block;
    margin-bottom: 5px;
  }
  .submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .result {
    font-weight: bold;
    margin-top: 20px;
  }